<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ServerIP" value="192.168.100.109" />
    <add key="ServerPort" value="8081" />
    <add key="RetryServerConnectTime" value="1" />
    <add key="ClientServerActorName" value="ClientServer" />
    <add key="ServerRootActorName" value="ServerActor" />
    <add key="ServerActorSystemName" value="RCCServer" />
    <add key="ClientActorSystemName" value="ClientActor" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <akka>
    <hocon><![CDATA[
          akka { 
            loggers = [
							"Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"
						]
            
            actor{             
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            
              remote {                        
                  dot-netty.tcp {
                      port = 0
                      public-hostname = localhost
                  }
              }
                    
              deployment{
                /ui{
                  dispatcher = akka.actor.synchronized-dispatcher
                }
              }
            }
          }
      ]]></hocon>
  </akka>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <targets>
      <target name="ColoredConsoleTarget" xsi:type="ColoredConsole" layout="[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}][${pad:padding=5:inner=${threadid}}][${pad:padding=5:inner=${level:uppercase=true}}]${event-context:item=logSource}[${logger}] ${message} ${exception:format=tostring}" />
      <target name="FileTarget" xsi:type="File" filename="./log/RCCServer.log" archiveFileName="./log/backup/TeamServer.{##}.log" archiveEvery="Day" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd_HHmmss" maxArchiveFiles="21" layout="[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}][${pad:padding=5:inner=${threadid}}][${pad:padding=5:inner=${level:uppercase=true}}]${event-context:item=logSource}[${logger}] ${message} ${exception:format=tostring}" encoding="Unicode" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="FileTarget" />
      <logger name="*" minLevel="Trace" appendTo="ColoredConsoleTarget" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>