<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="akka">
			<section name="akka.app" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
			<section name="akka.logging" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
			<section name="akka.actor" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
			<section name="akka.remote" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
			<section name="akka.cluster" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
			<section name="akka.petabridge" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<akka>
		<akka.app>
			<hocon>
				<![CDATA[
					akka {
						service {
							name = "TeamServer"
							description = "TeamServer Super Service"
						}

						system {
							name = "RCCServer"
						}
					}
				]]>
			</hocon>
		</akka.app>

		<akka.logging>
			<hocon>
				<![CDATA[
					akka {
						log-config-on-start = on

						loggers = [
							"Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"
						]
					}
				]]>
			</hocon>
		</akka.logging>

		<akka.actor>
			<hocon>
				<![CDATA[
					akka {
            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote" 
            }
            remote {
              dot-netty.tcp {
                  port = 8081
                  hostname = 192.168.100.109
              }
       
            }
          }   
				]]>
			</hocon>
		</akka.actor>

		<akka.remote>
			<hocon>
				<![CDATA[
					
				]]>
			</hocon>
		</akka.remote>

		<akka.cluster>
			<hocon>
				<![CDATA[
					akka { 
					}
				]]>
			</hocon>
		</akka.cluster>
		
		<akka.petabridge>
			<hocon>
				<![CDATA[
					petabridge.cmd {
						host = "0.0.0.0"
						port = 9110
						log-palettes-on-startup = on
					}
				]]>
			</hocon>
		</akka.petabridge>		
	</akka>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
		<targets>
			<target name="ColoredConsoleTarget" xsi:type="ColoredConsole" layout="[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}][${pad:padding=5:inner=${threadid}}][${pad:padding=5:inner=${level:uppercase=true}}]${event-context:item=logSource}[${logger}] ${message} ${exception:format=tostring}" />
			<target name="FileTarget" xsi:type="File" filename="./log/RCCServer.log" archiveFileName="./log/backup/TeamServer.{##}.log" archiveEvery="Day" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd_HHmmss" maxArchiveFiles="21" layout="[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}][${pad:padding=5:inner=${threadid}}][${pad:padding=5:inner=${level:uppercase=true}}]${event-context:item=logSource}[${logger}] ${message} ${exception:format=tostring}" encoding="Unicode" />
		</targets>
		<rules>
			<logger name="*" minLevel="Info" appendTo="FileTarget" />
			<logger name="*" minLevel="Trace" appendTo="ColoredConsoleTarget" />
		</rules>
	</nlog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Transport" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.6.0" newVersion="0.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.6.0" newVersion="0.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Handlers" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.6.0" newVersion="0.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Codecs" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.6.0" newVersion="0.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.6.0" newVersion="0.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
